<!DOCTYPE html>
<html>
<head>
    <title>Received Data</title>
</head>
<body>
    <h1>Received Data</h1>
    <ul>
        {% for entry in data %}
            <li>{{ entry['timestamp'] }} - Temperature: {{ entry['temperature_C'] }}°C / {{ entry['temperature_F'] }}°F, Humidity: {{ entry['humidity'] }}%</li>
        {% endfor %}
    </ul>
    <script>
        // Function to refresh the page every 5 seconds
        setTimeout(function() {
            location.reload();
        }, 5000);
    </script>
</body>
</html>

